<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Producto</title>
</head>
<body>
    <h1>Eliminar Producto</h1>
    <form action="{% url 'eliminar_producto' producto.id %}" method="post">
        {% csrf_token %}
        <label for="producto">Selecciona un producto:</label>
        <select name="producto_id" id="producto">
            {% for producto in productos %}
                <option value="{{ producto.id }}">{{ producto.nombre }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Eliminar">
    </form>
</body>
</html>