<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Marca</title>
</head>
<body>
    <h1>Eliminar Marca</h1>
    <form action="{% url 'eliminar_marca' marca.id %}" method="post">
        {% csrf_token %}
        <label for="marca">Selecciona una marca:</label>
        <select name="marca_id" id="marca">
            {% for marca in marcas %}
                <option value="{{ marca.id }}">{{ marca.nombre }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Eliminar">
    </form>
</body>
</html>

