{% extends 'aplicacion/base.html' %}

{% block title %}Eliminar Marca{% endblock %}

{% block content %}
    <h1>Eliminar Marca</h1>
    <form method="post">
        {% csrf_token %}
        <label for="marca">Selecciona una marca:</label>
        <select name="marca_id" id="marca">
            {% for marca in marcas %}
                <option value="{{ marca.id }}">{{ marca.nombre }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Eliminar">
    </form>
{% endblock %}

