<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Supermercado ChangoMenos{% endblock %}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        .header-container {
            background-color: blue;
            color: white;
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="header-container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
